
.icon-gps:before { content: '\e800'; } /* '' */
.icon-accum:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-dropfill:before { content: '\e803'; } /* '' */
.icon-wifi-logo:before { content: '\e807'; } /* '' */
.icon-ellipsis-outline:before { content: '\e813'; } /* '' */
.icon-telemetry-outline:before { content: '\e81c'; } /* '' */
.icon-hand:before { content: '\e82d'; } /* '' */
.icon-route:before { content: '\e82e'; } /* '' */
.icon-timer:before { content: '\e82f'; } /* '' */
.icon-off-road:before { content: '\e831'; } /* '' */
.icon-light:before { content: '\e832'; } /* '' */
.icon-way:before { content: '\e833'; } /* '' */
.icon-city:before { content: '\e835'; } /* '' */
.icon-rocket:before { content: '\e836'; } /* '' */
.icon-settings:before { content: '\e837'; } /* '' */
.icon-clock:before { content: '\e838'; } /* '' */
.icon-addoil:before { content: '\e839'; } /* '' */
.icon-drop:before { content: '\e83a'; } /* '' */
.icon-preset:before { content: '\e83c'; } /* '' */
.icon-speed-1:before { content: '\e83e'; } /* '' */
.icon-pump:before { content: '\e83f'; } /* '' */
.icon-repeat:before { content: '\e841'; } /* '' */
.icon-sensor:before { content: '\e842'; } /* '' */
.icon-light-fill:before { content: '\e853'; } /* '' */
.icon-service:before { content: '\e883'; } /* '' */